body{
    background-color: rgb(224, 204, 23);
}
.skp{
    text-align: center;
    color: beige;
    background-color: red;
    border-radius: 45px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.jkpimg{
    height: 100px;
    border-radius: 45px;
    float: left;
    margin-left: 30%;
}
.jkpdetails{
    float: right;
    margin-right: 10%;
    background-color: blue;
    color: wheat;
    border-radius: 45px;
    padding-left: 10%;
    padding-right: 10%;
}
