body{
    background-color: rgb(224, 204, 23);
}
h1{
    text-align: center;
}
span{
    display: none;
}

.menu-right{
    float: right;
    margin: 2%;
    background-color: blue;
    border-radius: 50px;
}
.logo1{
    float: left;
    height: 75px;
    border-radius: 45px;
    margin-top: 1%;
    float: left;
    margin: 2%;
}
ul li{
    display: inline-block;
    margin: 20px;
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
}
a.active{
    border: 1px solid white;
    padding: 2px;
}
a:hover{
    background-color: white;
    color: black;
    padding: 2px;
}

span{
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}
.header1{
    text-align: center;
    padding-top: 10%;
    background-color: red;
    padding-bottom: 1%;
    border-radius: 5%;
}
.text1{
    background-color: blue;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}
.sdimg{
    height: 100px;
    border-radius: 10%;
    float: left;
    margin-left: 35%;
    margin-top: 2%;
}
.sdetails{
    float: right;
    border-radius: 3%;
    max-width: 500px;
    margin-right: 15%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 2%;
    background-color: white;
}



/*................media quairy....................*/
@media only screen and (max-width: 1250px){
    span{
        display: block;
        background-color: red;
        padding: 5px;
        margin-right: 1%;
        margin-left: 1%;
        color: wheat;
        /* border-radius: 50%; */
    }
    
    ul li{
        display: block;
        text-align: left;
    }
    ul{
        display: none;
        background-color: blue;
        padding: 5px;
    }
    .logo1{
        float: left;
        height: 50px;
        border-radius: 45px;
        float: left;
        margin: 2%;
    }
    .sdimg{
        margin-left: 23%;
        margin-top: 2%;
    }
    .sdetails{
        max-width: 250px;
        margin-right: 20%;
        padding-top: 3%;
        padding-bottom: 4%;
        padding-left: 2%;
        background-color: white;
    }


}
@media only screen and (max-width: 750px){
    span{
        display: block;
        background-color: red;
        padding: 5px;
        margin-right: 1%;
        margin-left: 1%;
        color: wheat;
        /* border-radius: 50%; */
    }
    
    ul li{
        display: block;
        text-align: left;
    }
    ul{
        display: none;
        background-color: blue;
        padding: 5px;
    }
    .logo1{
        float: left;
        height: 50px;
        border-radius: 45px;
        float: left;
        margin: 2%;
    }
    .sdimg{
        margin-left: 10%;
        margin-top: 1%;
    }
    .sdetails{
        max-width: 250px;
        margin-right: 5%;
        padding-top: 3%;
        padding-bottom: 4%;
        padding-left: 2%;
        background-color: white;
    }


}

